body{
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: rgb(238, 228, 201);
   
    
   
}
#topo{
    display: flex;
    justify-content: center;
}
header{
    border: 0px solid red;
    background-color: rgb(45, 40, 31);
    width: auto;
    height: 300px;
}
#logo{
    color: white;
    font-size: 50px;
    border: 0px solid white;
    height: 60px;
    margin: 50px 200px 0px 0px;
    text-shadow: 3px 3px black;
}
#navegação{
    border: 0px solid white;
    width: 700px;
    margin: 50px 0px 0px 0px;
    font-size: 20px;
    text-align: center;
 
}
ul,li,a {
    list-style: NONE;
    display: inline-block;
    text-decoration: none;
    color: rgb(146, 104, 55);
    padding-right: 5px;
}
#navegação a:hover{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
#principal{
    
    border: 0px solid red;
    display: flex;
    justify-content: center;
position: relative;
bottom: 180px;
}
#conteudos{
    width: 820px;
    /*background: green; */
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    display: block;
}
aside{
    width: 403px;
    /*background: violet;*/
    float: right;
    margin-bottom: 15px;
    }
.formulario{
    margin-top: 15px;
    width: 403px;
    height: 150px;
    background-color: rgb(146, 125, 96);
}
form h3{
    font-size: 25px;
    margin: 10px;
    padding-top: 15px;
    color: rgb(0, 0, 0);
}
form .botao{
    width: auto;
    height: 35px;
    background-color: rgba(124, 57, 57, 0.664);
    color: white;
    border-radius: 2px;
    
}
form .botao:hover{
    width: auto;
    height: 35px;
    background-color: rgba(161, 84, 84, 0.377);
    color: white;
    border-radius: 2px;
    
}
#galeria{
    background: rgb(146, 125, 96);
   
}
#galeria-de-fotos a{
display: block;
background:  url(../imagens/fundo-foto.png) no-repeat ;
border: 0px solid red;
float: left;
padding: 15px 15px 18px 15px;
margin: 8px 0px 0px 20px;


}
#galeria-de-fotos img{
    margin-left: 2px;
    margin-top: 3px;
}
#galeria-de-fotos h2{
  
}
#video{
    margin: 0px 15px 0 0;
}
#postagens{
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}
#postagens h3{
    color: rgb(17, 100, 17);
}
#mapa{
    margin: 0 7.5px 0px 0px;
}

#contato{
    border: 0px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 500px;
    width: 500px;
    
    clear: both;
    float: left;
}
#contato h2{
    background: rgb(146, 125, 96) ;
    color: black;
    
}
#logolink a{
    display: none;
    animation: none;

}